#header {
    text-align: center;
    font-size: 30pt;
    font-family: Monotype Corsiva;
    max-width: auto;
    margin: auto;
    position: relative;
    border-block-color: white;
    text-shadow: 3px 0 0 pink, 0 -1px 0 #000, 0 3px 0 #000, -1px 0 0 pink;
}

#query {
    height: 20pt;
    width: 200pt;
    border-radius: 25px;
}

#searchbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    text-align: center;
    max-width: auto;
    margin: auto;

}


#searchbutton {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    text-align: center;
 

}

 #searchResults{
     visibility: visible;
 }
 #time {
     visibility:visible;
 }

body {
    background-image: url("https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=903&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
}

